﻿@model DeveloperViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Developer</h2>


<p>
    <!--<a asp-page="Create">Create New</a>-->
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model.Developers)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.CompanyName
                </td>
                <td>
                    
                </td>
                <td>
                    <!--
                    <a asp-page="./Edit" asp-route-id="@item.Name">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Name">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Name">Delete</a>
                    -->
                </td>
            </tr>
        }
    </tbody>
</table>
