﻿@model Questionnaire.Business.Model.Template

@{
    ViewData["Title"] = "Details";
    int count = 0;
}

<h2>Details</h2>

<div>
    <h4>Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        @foreach (var question in Model.Questions)
        {
            count++;
            <dt>Question @count</dt>
            <dd></dd>
            <dt>Type</dt>
            <dd>@question.Type</dd>
            <dt>Title</dt>
            <dd>@question.Title</dd>
            <dt>Content</dt>
            <dd>@question.Content</dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
